{% extends 'headerfooter.html' %}
{% load static %}
{% block content %}
<ul class="nospace clear">
    {% for i in auths %}

    <li class="one_quarter">
    <div class="card" style="width: 18rem;">
      {% if i.img %}
        <img class="card-img-top" src="{{ i.img.url }}" alt="No Profile Image">
      {% else %}
        <img class="card-img-top" src="{% static 'images/no_img.png' %}" alt="No Profile Image">  
      {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ i.name }}</h5>
          <p class="card-text">Contact No : {{ i.m_no }}</p>
          <p class="card-text">Email Id : {{ i.email }}</p>
          <a href="{% url 'auther_view' i.id %}" class="btn btn-primary">View Gallery</a>
        </div>
      </div>
      </li>

    {% endfor %}

  </ul>
  <figcaption>Gallery Description Goes Here</figcaption>
</figure>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<nav class="pagination">
<ul>
  <li><a href="#">&laquo; Previous</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><strong>&hellip;</strong></li>
  <li><a href="#">6</a></li>
  <li class="current"><strong>7</strong></li>
  <li><a href="#">8</a></li>
  <li><a href="#">9</a></li>
  <li><strong>&hellip;</strong></li>
  <li><a href="#">14</a></li>
  <li><a href="#">15</a></li>
  <li><a href="#">Next &raquo;</a></li>
</ul>
</nav>
{% endblock %}